<a href="https://colab.research.google.com/github/sumitpurandare/python_essentials/blob/master/Coding_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tuple_1 = (1,2,3,4,5,6,7,8,9,10)
tupl_1 = []
tupl_2 = []

for i in range(0,5):
  tupl_1.append(tuple_1[i])
  
for i in range(5,10):
  tupl_2.append(tuple_1[i])
  
print(tupl_1)
print(tupl_2)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

In [ ]:
tup = (1,2,3,4,5,6,7,8,9,10)
tupl = []

for i in range(0,10):
  if i%2 !=0:
    tupl.append(tup[i])
    

print(tupl)

[2, 4, 6, 8, 10]

In [ ]:
tpl1 = filter(lambda x:x%2==0,tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
user_input = input("Enter a string (yes YES or Yes")
if (user_input == 'YES' or user_input == 'Yes' or user_input == 'yes'):
  print('yes')
else:
  print('No')

Enter a string (yes YES or Yesfef
No

**Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].**

In [ ]:
li = [1,2,3,4,5,6,7,8,9,10]
function = map(lambda x : x**2 ,li)
print(list(function))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
sq_nu = map(lambda x:x**2, filter(lambda x: x%2==0,li))
print(list(sq_nu))

[4, 16, 36, 64, 100]

**Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included).**

In [ ]:
even_nu = filter(lambda x: x%2==0, range(1,20))
print(list(even_nu))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

**Write a program which can map() to make a list whose elements are square of numbers between 1 and 20 (both included).**

In [ ]:
elem = map(lambda x: x**2 ,range(1,20))
print(list(elem))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

**Define a class named American which has a static method called printNationality.**

In [ ]:
class American(object):
  @staticmethod
  def printNationality():
    print("America")
  
us = American()
us.printNationality()
American.printNationality()

America
America

**Define a class named American and its subclass NewYorker.**

In [ ]:
class American(object):
  def __main__(self):
    print("Main Class")

class NewYorker(American):
  def newyork(self):
      print("Newyorkis in America")

obj1 = American()
obj2 = NewYorker()
print(obj1)
print(obj2)
obj1.__main__()
obj2.newyork()

<__main__.American object at 0x7fb86e8d32d0>
<__main__.NewYorker object at 0x7fb86e8d3690>
Main Class
Newyorkis in America

**Define a class named Circle which can be constructed by a radius. The Circle class has a method which can compute the area.**

In [ ]:
import math
class Circle:
  def areaofcircle(self,radius):
    self.radius = radius
    area = math.pi*(radius**2)
    print(f" Area is {math.ceil(area)} Sq metre")
  
obj = Circle()
obj.areaofcircle(23)

 Area is 1662 Sq metre

**Define a class named Rectangle which can be constructed by a length and width. The Rectangle class has a method which can compute the area.**

In [ ]:
class Rectangle:
  def __init__(self,l,b):
    self.length = l
    self.breadth = b
  def area(self):
    return self.length*self.breadth

obj = Rectangle(23,67)
print(obj.area())

1541

**Define a class named Shape and its subclass Square. The Square class has an init function which takes a length as argument. Both classes have a area function which can print the area of the shape where Shape's area is 0 by default.**

In [ ]:
class Shape():
    def __init__(self):
        pass

    def area(self):
        return 0

class Square(Shape):
    def __init__(self,length = 0):
        Shape.__init__(self)
        self.length = length

    def area(self):
        return self.length*self.length

Asqr = Square(5)
print(Asqr.area())      # prints 25 as given argument

print(Square().area())  # prints zero as default area

25
0

**Please raise a RuntimeError exception.**

In [ ]:
raise RuntimeError('something wrong')

RuntimeError: ignored

**Write a function to compute 5/0 and use try/except to catch the exceptions.**

In [ ]:
print("*******DIVISION*****")


try:
  a= int(input("Enter a (Integer) :"))
  b= int(input("Enter b (Integer) :"))
  division = a/b
  print(division)
except ZeroDivisionError as e:
  print("Please dont use zero as denoms")

*******DIVISION*****
Enter a (Integer) :2
Enter b (Integer) :0
Please dont use zero as denoms

**Define a custom exception class which takes a string message as attribute.**

In [ ]:
class CustomException(Exception):
  def __init__(self,msg):
    self.msg = msg
  
num = int(input())

try:
  if num > 10:
    raise CustomException("Input is greaer than 10")
  elif num < 10:
    raise CustomException("Input is less than 10")
except Exception as err:
  print(err.msg)

89
Input is greaer than 10

**Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only.**

**Example**: If the following email address is given as input to the program:

**john@google.com**
Then, the output of the program should be:

john
In case of input data being supplied to the question, it should be assumed to be a console input.

Hints
**Use \w to match letters**

In [ ]:
import re
email = input("Enter your email address :")
pattern = "(\w+).\w+@\w+.com"
ans = re.findall(pattern,email)
print("As per your email your name or surname is :", ans[0])

Enter your email address :john.doe@google.com
As per your email your name or surname is : john

In [ ]:
email_new = input("Enter your email address :")
save = email_new.split('@')
print(save)

In [ ]:
print("Hello ")

In [ ]:
user_inp = input().split()
#print(user_inp)
emp_list = []
for word in user_inp:
  if word.isdigit():
    emp_list.append(word)
print(emp_list)

2 dogs and 3 cats
['2', '3']

**Print a unicode string "hello world".**

In [ ]:
unicodeString = u"hello world!"
print (unicodeString)

hello world!

In [ ]:
user_inp = input()
res = user_inp.encode('utf-8')
print(res)

hello world
b'hello world'

**Write a program to compute:

f(n)=f(n-1)+100 when n>0
and f(0)=0
with a given n input by console (n>0).**

In [ ]:
n = int(input("Enter an integer :"))

def f(n):
  if n==0:
    return 0
  return f(n-1) + 100

print(f(n))

Enter an integer :5
500

**The Fibonacci Sequence is computed based on the following formula:

f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n>1**

In [ ]:
n = int(input("Enter a numnr :"))
def f(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  return f(n-1)+f(n-2)

print(f(n))

Enter a numnr :2
1

In [2]:
n = int(input("Enter a digit :"))
def fact(n):
  if n == 1 or n == 0:
    return 1
  else:
    return n*fact(n-1)

fact(n)

Enter a digit :5

120

**Please write a program to output a random even number between 0 and 10 inclusive using random module and list comprehension.**

In [4]:
import random

resp = [i for i in range(0,11,2)]
print(random.choice(resp))

8

**Please write a program to output a random number, which is divisible by 5 and 7, between 10 and 150 inclusive using random module and list comprehension.
**

In [42]:
import random

num = random.choice(range(10,150))
print(num)
if num%5==0 and num%7==0:
  print(num)

35
35

**Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.
**

In [50]:
import random
from random import sample
num = random.sample(range(100,200),5)
print(num)

[177, 175, 101, 165, 158]

In [56]:
from random import sample
num = random.sample(range(100,201,2),5)
print(num)

[148, 140, 136, 166, 126]