<a href="https://colab.research.google.com/github/sumitpurandare/python_essentials/blob/master/Coding_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tuple_1 = (1,2,3,4,5,6,7,8,9,10)
tupl_1 = []
tupl_2 = []

for i in range(0,5):
  tupl_1.append(tuple_1[i])
  
for i in range(5,10):
  tupl_2.append(tuple_1[i])
  
print(tupl_1)
print(tupl_2)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

In [ ]:
tup = (1,2,3,4,5,6,7,8,9,10)
tupl = []

for i in range(0,10):
  if i%2 !=0:
    tupl.append(tup[i])
    

print(tupl)

[2, 4, 6, 8, 10]

In [ ]:
tpl1 = filter(lambda x:x%2==0,tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
user_input = input("Enter a string (yes YES or Yes")
if (user_input == 'YES' or user_input == 'Yes' or user_input == 'yes'):
  print('yes')
else:
  print('No')

Enter a string (yes YES or Yesfef
No

**Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].**

In [ ]:
li = [1,2,3,4,5,6,7,8,9,10]
function = map(lambda x : x**2 ,li)
print(list(function))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
sq_nu = map(lambda x:x**2, filter(lambda x: x%2==0,li))
print(list(sq_nu))

[4, 16, 36, 64, 100]

**Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included).**

In [ ]:
even_nu = filter(lambda x: x%2==0, range(1,20))
print(list(even_nu))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

**Write a program which can map() to make a list whose elements are square of numbers between 1 and 20 (both included).**

In [ ]:
elem = map(lambda x: x**2 ,range(1,20))
print(list(elem))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

**Define a class named American which has a static method called printNationality.**

In [ ]:
class American(object):
  @staticmethod
  def printNationality():
    print("America")
  
us = American()
us.printNationality()
American.printNationality()

America
America

**Define a class named American and its subclass NewYorker.**

In [ ]:
class American(object):
  def __main__(self):
    print("Main Class")

class NewYorker(American):
  def newyork(self):
      print("Newyorkis in America")

obj1 = American()
obj2 = NewYorker()
print(obj1)
print(obj2)
obj1.__main__()
obj2.newyork()

<__main__.American object at 0x7fb86e8d32d0>
<__main__.NewYorker object at 0x7fb86e8d3690>
Main Class
Newyorkis in America

**Define a class named Circle which can be constructed by a radius. The Circle class has a method which can compute the area.**

In [ ]:
import math
class Circle:
  def areaofcircle(self,radius):
    self.radius = radius
    area = math.pi*(radius**2)
    print(f" Area is {math.ceil(area)} Sq metre")
  
obj = Circle()
obj.areaofcircle(23)

 Area is 1662 Sq metre

**Define a class named Rectangle which can be constructed by a length and width. The Rectangle class has a method which can compute the area.**

In [ ]:
class Rectangle:
  def __init__(self,l,b):
    self.length = l
    self.breadth = b
  def area(self):
    return self.length*self.breadth

obj = Rectangle(23,67)
print(obj.area())

1541

**Define a class named Shape and its subclass Square. The Square class has an init function which takes a length as argument. Both classes have a area function which can print the area of the shape where Shape's area is 0 by default.**

In [ ]:
class Shape():
    def __init__(self):
        pass

    def area(self):
        return 0

class Square(Shape):
    def __init__(self,length = 0):
        Shape.__init__(self)
        self.length = length

    def area(self):
        return self.length*self.length

Asqr = Square(5)
print(Asqr.area())      # prints 25 as given argument

print(Square().area())  # prints zero as default area

25
0

**Please raise a RuntimeError exception.**

In [ ]:
raise RuntimeError('something wrong')

RuntimeError: ignored

**Write a function to compute 5/0 and use try/except to catch the exceptions.**

In [ ]:
print("*******DIVISION*****")


try:
  a= int(input("Enter a (Integer) :"))
  b= int(input("Enter b (Integer) :"))
  division = a/b
  print(division)
except ZeroDivisionError as e:
  print("Please dont use zero as denoms")

*******DIVISION*****
Enter a (Integer) :2
Enter b (Integer) :0
Please dont use zero as denoms

**Define a custom exception class which takes a string message as attribute.**

In [ ]:
class CustomException(Exception):
  def __init__(self,msg):
    self.msg = msg
  
num = int(input())

try:
  if num > 10:
    raise CustomException("Input is greaer than 10")
  elif num < 10:
    raise CustomException("Input is less than 10")
except Exception as err:
  print(err.msg)

89
Input is greaer than 10

**Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only.**

**Example**: If the following email address is given as input to the program:

**john@google.com**
Then, the output of the program should be:

john
In case of input data being supplied to the question, it should be assumed to be a console input.

Hints
**Use \w to match letters**

In [ ]:
import re
email = input("Enter your email address :")
pattern = "(\w+).\w+@\w+.com"
ans = re.findall(pattern,email)
print("As per your email your name or surname is :", ans[0])

Enter your email address :john.doe@google.com
As per your email your name or surname is : john

In [ ]:
email_new = input("Enter your email address :")
save = email_new.split('@')
print(save)

In [ ]:
print("Hello ")

In [ ]:
user_inp = input().split()
#print(user_inp)
emp_list = []
for word in user_inp:
  if word.isdigit():
    emp_list.append(word)
print(emp_list)

2 dogs and 3 cats
['2', '3']

**Print a unicode string "hello world".**

In [ ]:
unicodeString = u"hello world!"
print (unicodeString)

hello world!

In [ ]:
user_inp = input()
res = user_inp.encode('utf-8')
print(res)

hello world
b'hello world'

**Write a program to compute:

f(n)=f(n-1)+100 when n>0
and f(0)=0
with a given n input by console (n>0).**

In [ ]:
n = int(input("Enter an integer :"))

def f(n):
  if n==0:
    return 0
  return f(n-1) + 100

print(f(n))

Enter an integer :5
500

**The Fibonacci Sequence is computed based on the following formula:

f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n>1**

In [ ]:
n = int(input("Enter a numnr :"))
def f(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  return f(n-1)+f(n-2)

print(f(n))

Enter a numnr :2
1

In [ ]:
n = int(input("Enter a digit :"))
def fact(n):
  if n == 1 or n == 0:
    return 1
  else:
    return n*fact(n-1)

fact(n)

Enter a digit :5

120

**Please write a program to output a random even number between 0 and 10 inclusive using random module and list comprehension.**

In [ ]:
import random

resp = [i for i in range(0,11,2)]
print(random.choice(resp))

8

**Please write a program to output a random number, which is divisible by 5 and 7, between 10 and 150 inclusive using random module and list comprehension.
**

In [ ]:
import random

num = random.choice(range(10,150))
print(num)
if num%5==0 and num%7==0:
  print(num)

35
35

**Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.
**

In [ ]:
import random
from random import sample
num = random.sample(range(100,200),5)
print(num)

[177, 175, 101, 165, 158]

In [ ]:
from random import sample
num = random.sample(range(100,201,2),5)
print(num)

[148, 140, 136, 166, 126]

**Please write a program to randomly print a integer number between 7 and 15 inclusive.**

In [ ]:
import random

print(random.randrange(7,16))

8

**Please write a program to compress and decompress the string "hello world!hello world!hello world!hello world!".**

In [ ]:
import zlib
s = 'hello world!hello world!hello world!hello world!'
conv = bytes(s,'utf-8')
t = (zlib.compress(conv))
print (t)
print (zlib.decompress(t))

b'x\x9c\xcbH\xcd\xc9\xc9W(\xcf/\xcaIQ\xcc \x82\r\x00\xbd[\x11\xf5'
b'hello world!hello world!hello world!hello world!'

**Please write a program to print the running time of execution of "1+1" for 100 times.**

In [ ]:
import datetime

before = datetime.datetime.now()
for i in range(100):
  x = 1+1
after  = datetime.datetime.now()
execution = after - before
print(execution.microseconds)

69

In [ ]:
import time

before = time.time()
for i in range(100):
    x = 1 + 1
after = time.time()
execution_time = after - before
print(execution_time)

8.416175842285156e-05

**Please write a program to shuffle and print the list [3,6,7,8].**

In [ ]:
from random import shuffle
li = [3,6,7,8]
shuffle(li)
print(li)

[3, 6, 8, 7]

**Please write a program to generate all sentences where subject is in ["I", "You"] and verb is in ["Play", "Love"] and the object is in ["Hockey","Football"].**

In [ ]:
subject =  ["I", "You"]
verbal =  ["Play", "Love"] 
objects  = ["Hockey","Football"]

added = list(zip(sub,verb,obj))
print(added)

[('I', 'Play', 'Hockey'), ('You', 'Love', 'Football')]

In [ ]:

subject =  ["I", "You"]
verbal =  ["Play", "Love"] 
objects  = ["Hockey","Football"]
for sub in subject:
  for verb in verbal:
    for obj in objects:
      print(f"{sub} {verb} {obj}")

I Play Hockey
I Play Football
I Love Hockey
I Love Football
You Play Hockey
You Play Football
You Love Hockey
You Love Football

In [ ]:
import itertools
subject =  ["I", "You"]
verbal =  ["Play", "Love"] 
objects  = ["Hockey","Football"]

sentence = [subject,verbal,objects ]
res = itertools.product(*sentence)
for i in res:
  print(i)

('I', 'Play', 'Hockey')
('I', 'Play', 'Football')
('I', 'Love', 'Hockey')
('I', 'Love', 'Football')
('You', 'Play', 'Hockey')
('You', 'Play', 'Football')
('You', 'Love', 'Hockey')
('You', 'Love', 'Football')

Enter a sting :ekjkj

**Please write a program to print the list after removing even numbers in [5,6,77,45,22,12,24].**

In [ ]:
li = [5,6,77,45,22,12,24]
new_list = []
for i in li:
  if i%2 != 0:
    new_list.append(i)

print(new_list)

[5, 77, 45]

In [ ]:
li = [5,6,77,45,22,12,24]
n = list(filter(lambda x:x%2 !=0 ,li))
print(n)

[5, 77, 45]

**By using list comprehension, please write a program to print the list after removing numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155].**

In [ ]:
lis = [12,24,35,70,88,120,155]
new_li = []

for i in lis:
  if i%5 != 0 and i%7 != 0:
    new_li.append(i)
print(new_li)

[12, 24, 88]

In [ ]:
li = [12,24,35,70,88,120,155]
n = list(filter(lambda x : x%5 != 0 and x%7 != 0,li))
print(n)

[12, 24, 88]

**By using list comprehension, please write a program to print the list after removing the 0th, 2nd, 4th,6th numbers in [12,24,35,70,88,120,155].**

In [ ]:
lis = [12,24,35,70,88,120,155]
lis = [lis[i] for i in range(len(lis)) if i%2 !=0 and i <=6]
print(lis)

[24, 70, 120]

**Please write a program which count and print the numbers of each character in a string input by console.
Example: If the following string is given as input to the program**

In [ ]:

n = input("Enter a string :")

for i in sorted(set(n)):
  print(f"{i},{n.count(i)}")

Enter a string :aasggstwkkjiur
a,2
g,2
i,1
j,1
k,2
r,1
s,2
t,1
u,1
w,1

**Please write a program which accepts a string from console and print it in reverse order**

Example: If the following string is given as input to the program:

**rise to vote sir**

Then, the output of the program should be:

**ris etov ot esir**

In [ ]:
string = input()
print(string[::-1])

rise to vote sir
ris etov ot esir

**Please write a program which accepts a string from console and print the characters that have even indexes.**

In [ ]:
s = "H1e2l3l4o5w6o7r8l9d"
print(s[::2])

Helloworld

**Please write a program which prints all permutations of [1,2,3]**

In [ ]:
import itertools

print(list(itertools.permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

**Write a program to solve a classic ancient Chinese puzzle: We count 35 heads and 94 legs among the chickens and rabbits in a farm. How many rabbits and how many chickens do we have?**

In [ ]:
import itertools

def animal_counter(lst):
    chickens = 0	
    rabbits = 0
    for i in lst:
        if i == 2:
            chickens += 1
        elif i == 4:
            rabbits += 1
    print(f"Number of chickens is {chickens}\nNumber of rabbits is {rabbits}")


def animal_calculator(total_legs, total_heads, legs_of_each_species):
    combinations = itertools.combinations_with_replacement(legs_of_each_species, total_heads)
    correct_combos = []
    for i in list(combinations):
        if sum(i) == total_legs:
            correct_combos.append(i)
    print(correct_combos)
    for i in correct_combos:
        animal_counter(i)

animal_calculator(94, 35, legs_of_each_species=[2,4])

[(2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4)]
Number of chickens is 23
Number of rabbits is 12

In [ ]:
li = []

for i in range(6):
  li.append("*"*i)
print("\n".join(li))

*
**
***
****
*****

In [ ]:
pip install bs4

Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)

In [ ]:
import requests
from bs4 import BeautifulSoup
from pprint import pprint

resp = requests.get('https://news.ycombinator.com/')

soup = BeautifulSoup(resp.text,'html.parser')
links = soup.select('.storylink')
subtext  = soup.select('.subtext')

def sorted_by_votes(hnlist):
  return sorted(hnlist,key=lambda k:k['votes'])

def get_title_list(links,votes):
  hn = []
  for idx,items in enumerate(links):
    title = links[idx].getText()
    href = links[idx].get('href',None)
    votes = subtext[idx].select('.score')
    if len(votes): 
      points = int(votes[0].getText().replace(' points', ''))
      if points > 100:        
        hn.append({'title': title, 'link': href, 'votes': points})
  return sorted_by_votes(hn)


pprint(get_title_list(links,subtext))

[{'link': 'item?id=26621266',
  'title': 'Launch HN: Greywing (YC W21) – Automated ship operations focused '
           'on crew',
  'votes': 101},
 {'link': 'https://www.google.com/search?q=ever+given',
  'title': 'Google showing animated ships when searching “ever given”',
  'votes': 102},
 {'link': 'https://blog.tonari.no/introducing-innernet',
  'title': 'Innernet: open source Rust based Tailscale alternative by Tonari',
  'votes': 104},
 {'link': 'http://tenfourfox.blogspot.com/2020/04/the-end-of-tenfourfox-and-what-ive.html',
  'title': "The end of TenFourFox and what I've learned from it",
  'votes': 141},
 {'link': 'https://wattenberger.com/blog/react-and-d3',
  'title': 'React and D3.js',
  'votes': 155},
 {'link': 'https://arstechnica.com/tech-policy/2021/03/att-lobbies-against-nationwide-fiber-says-10mbps-uploads-are-good-enough',
  'title': 'AT&T lobbies against nationwide fiber, says 10Mbps uploads are '
           'good enough',
  'votes': 155},
 {'link': 'https://blog.gwlab.page/vpn-over-ssh-the-socks-proxy-8a8d7bdc7028',
  'title': 'VPN over SSH? The Socks Proxy',
  'votes': 172},
 {'link': 'https://cs.nyu.edu/davise/papers/hofstadter.pdf',
  'title': 'Retrospective review of Gödel, Escher, Bach (1996) [pdf]',
  'votes': 178},
 {'link': 'https://hpyproject.org/blog/posts/2021/03/hello-hpy/',
  'title': 'Hello, HPy',
  'votes': 256},
 {'link': 'https://coollabs.io/coolify',
  'title': 'Show HN: An open-source, self-hostable Heroku and Netlify '
           'alternative',
  'votes': 267},
 {'link': 'https://github.com/birchb1024/frangipanni',
  'title': 'Show HN: I wrote a program to convert lines of text into trees',
  'votes': 282},
 {'link': 'https://www.intel.com/content/www/us/en/products/docs/io/universal-serial-bus/usb3-frequency-interference-paper.html',
  'title': 'USB 3.0* Radio Frequency Interference on 2.4 GHz Devices (2012)',
  'votes': 287},
 {'link': 'https://numi.app/',
  'title': 'Numi. Calculator app for Mac',
  'votes': 306},
 {'link': 'http://68k.news/',
  'title': '68k.news: A Netscape 1.1 makeover of Google News',
  'votes': 336},
 {'link': 'https://twitter.com/superdealloc/status/1376626243865604100',
  'title': 'Ubiquiti starts serving ads in their management interface',
  'votes': 360},
 {'link': 'https://gregraiz.com/i-made-an-eink-newspaper/',
  'title': 'I made an eInk newspaper',
  'votes': 496},
 {'link': 'https://github.com/NAalytics/Assemblies-of-putative-SARS-CoV2-spike-encoding-mRNA-sequences-for-vaccines-BNT-162b2-and-mRNA-1273/blob/main/Assemblies%20of%20putative%20SARS-CoV2-spike-encoding%20mRNA%20sequences%20for%20vaccines%20BNT-162b2%20and%20mRNA-1273.docx.pdf',
  'title': 'Moderna mRNA sequence released to GitHub [pdf]',
  'votes': 745},
 {'link': 'https://deno.com/blog/the-deno-company',
  'title': 'The Deno Company',
  'votes': 796},
 {'link': 'https://www.reuters.com/article/us-egypt-suezcanal-ship-floated/suez-canal-says-traffic-in-channel-resumes-after-stranded-ship-refloated-idUSKBN2BL1S9',
  'title': 'Suez Canal says traffic in channel resumes after stranded ship '
           'refloated',
  'votes': 987}]

In [ ]:
class product:
  def __init__(self,name,price):
    self.name = name
    self.price = price
  def __add__(self,other):
    self.other = other
    if self.price > other.price:
      return self.price
    return other.price


p1 = product("Iphone",200)
p2 = product("motorola",500)
print(p1+p2)
#print(p1+100)

500

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')

print ("Opened database successfully")

Opened database successfully

In [ ]:
import sqlite3

conn = sqlite3.connect('testdb')
print ("Opened database successfully")

conn.execute("Create table employee (emp_id int,emp_name text,sal int,mobile int)")

conn.close()

Opened database successfully

OperationalError: ignored

In [ ]:
import sqlite3

conn = sqlite3.connect('testdb')
conn.execute("INSERT INTO employee (emp_id,emp_name,sal,mobile) values (101,'Adam',5000,7756366465)")
conn.execute("INSERT INTO employee (emp_id,emp_name,sal,mobile) values (102,'Bob',3000,7756545354)")
conn.execute("INSERT INTO employee (emp_id,emp_name,sal,mobile) values (103,'Catherine',4000,8875666354)")
conn.execute("INSERT INTO employee (emp_id,emp_name,sal,mobile) values (104,'Douglas',2000,8878488776)")
conn.execute("INSERT INTO employee (emp_id,emp_name,sal,mobile) values (106,'Eela',10000,9908765467)")

conn.close()

print("Data has been inserted successfully")

Data has been inserted successfully

In [ ]:
import sqlite3

conn = sqlite3.connect('testdb')
print("opened db successfully")
cursor = conn.execute("SELECT emp_id,emp_name,sal,mobile FROM employee;")
print(cursor)

for row in cursor:
  print("*")
  print("emp_id",row[0])
  print("emp_name",row[1])
  print("sal",row[2])
  print("mobile",row[3],"\n")
  

#conn.close()

print("closed successfully")

opened db successfully
<sqlite3.Cursor object at 0x7f757ea30340>
closed successfully

In [ ]:
import sqlite3

connection = sqlite3.connect('testdb')
cursor = connection.cursor()


def sql():
    return "SELECT emp_id,emp_name,sal,mobile FROM employee;"


cursor.execute(sql()).fetchall()

[]

**Write a Python program to sort a list of dictionaries using Lambda. Go to the editor
Original list of dictionaries :
[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]
Sorting the List of dictionaries :
[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]**

In [ ]:
list_1 = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}] 
new = sorted(list_1,key=lambda x: x['color'])
print(new)

[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

**Write a Python program to filter a list of integers using Lambda**

In [ ]:
org_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even = list(filter(lambda x: x%2==0,org_list))
odd = list(filter(lambda x: x%2 !=0,org_list))
print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

**Write a Python program to square and cube every number in a given list of integers using Lambda. Go to the editor**

In [ ]:
org_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

square = list(map(lambda x: x**2, org_list))
cubes = list(map(lambda x: x**3, org_list))
 
print(square)
print(cubes)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

**Write a Python program to extract year, month, date and time using Lambda.**

In [ ]:
import time
import datetime
curr_time = datetime.datetime.now()
print(curr_time)
year = lambda x: x.year
month = lambda y: y.month
day = lambda z: z.day
time = lambda t: t.time()

print("YEAR: " ,year(curr_time))
print("MONTH: " ,month(curr_time))
print("DATE: " , day(curr_time))
print("TIME: ", time(curr_time))

2021-04-17 10:50:45.302931
YEAR:  2021
MONTH:  4
DATE:  17
TIME:  10:50:45.302931

**Write a Python program to create Fibonacci series upto n using Lambda.**

In [ ]:
from functools import reduce
fib_series = lambda n: reduce(lambda x,_: x+[x[-1]+x[-2]],range(n-2),[0,1])
print("Fabo series ")
print(fib_series(6))

Fabo series
[0, 1, 1, 2, 3, 5]

In [ ]:
s1 = ('a','b','c')
s2 = ('e','f')
print(s1+s2)

('a', 'b', 'c', 'e', 'f')

In [ ]:
list1=[80,90,100,120]
print(list1[::-2])

[120, 90]

**Write a Python program to create an Enum object and display a member name and value.**

In [ ]:
from enum import Enum
class country(Enum):
  Afghanistan=93
  India=100
  Ghana=80
  Turkey=83
for data in country:
  print(f'{data.name} = {data.value}')

Afghanistan = 93
India = 100
Ghana = 80
Turkey = 83

**Write a Python program to display all the member name of an enum class ordered by their values.**

In [ ]:
import enum
class Country(enum.IntEnum):
    Afghanistan = 93
    Albania = 355
    Algeria = 213
    Andorra = 376
    Angola = 244
    Antarctica = 672
print('Country Name ordered by Country Code:')
print('\n'.join('  ' + c.name for c in sorted(Country)))

Country Name ordered by Country Code:
  Afghanistan
  Algeria
  Angola
  Albania
  Andorra
  Antarctica

**Write a Python program to sum all the items in a list.**

In [ ]:
list_1 = [100,23,56,76,86,88]
sum =0
for x in list_1:
  
  sum = sum + x
  #print(sum)
print(sum)

429

**Write a Python program to multiplies all the items in a list.**

In [ ]:
list_1 = [100,10]
mul = 1
for x in list_1:
  mul = mul*x
print(mul)

1000

**Write a Python program to get the largest number from a list**

In [ ]:
list_1 = [10,20,30,40,50]
max = list_1[0]
for data in list_1:
  if data > max:
    max = data
print(max)

50

**Write a Python program to get the smallest number from a list.**

In [ ]:
new_list = [10,20,30,40,50]
min = new_list[0]
for data in new_list:
  if data < min:
    min = data
print(min)

10

**Write a Python program to remove duplicates from a list**

In [ ]:
a = [10,10,20,20,30,30]
emp_list = []
uniq_set = set()
for x in a:
  if x not in uniq_set:
    emp_list.append(x)
    uniq_set.add(x)
  
print(emp_list)

[10, 20, 30]

**Write a Python program to create a tuple.**

In [ ]:
x = ()
def tuple_1(x):
  new_t = tuple(x)
  print(new_t)

('abc', 'defg', 'ghik')

In [ ]:
print("Hello World","Hello World",sep="\n")

Hello World
Hello World

In [ ]:
list_1 = ["Daniel","Horse","Nigel","Alice","Bob"]
list_2 = ["Woods","White","Methew","Richard","Brown"]
sum_list = list_1 + list_2
list_1.reverse()
list_2.sort()
print(list_1)
print(list_2)
print("Full list",sum_list)
sum_list.clear() #will empty the list
print("Cleared list",sum_list)
#copy a list
list_copy = list_1.copy()
print(list_copy)
del list_1
#list_1 is no longer available

['Bob', 'Alice', 'Nigel', 'Horse', 'Daniel']
['Brown', 'Methew', 'Richard', 'White', 'Woods']
Full list ['Daniel', 'Horse', 'Nigel', 'Alice', 'Bob', 'Woods', 'White', 'Methew', 'Richard', 'Brown']
Cleared list []
['Bob', 'Alice', 'Nigel', 'Horse', 'Daniel']

In [ ]:
#tuple once created, they can't be changed (Immutable)
#----------------------------------------------------
tup = ('alice',30,3000,9088876765,'Ohio')
print(tup[::-2])
'Ohio' in tup
'breako' not in tup

('Ohio', 3000, 'alice')

True

In [ ]:
#dictionary are mutable
name_ages = {"Alice": 20,"Bob": 23,"Charles": 40,"Daniel": 34,"Eela": 41}
name_ages['Eela']
print(name_ages.keys())
print(name_ages.values())

print(name_ages.items())
name_ages['Bob'] = 20
print(name_ages)
#pop
name_ages.pop('Eela')
#del
del name_ages['Daniel']
print(name_ages)

dict_keys(['Alice', 'Bob', 'Charles', 'Daniel', 'Eela'])
dict_values([20, 23, 40, 34, 41])
dict_items([('Alice', 20), ('Bob', 23), ('Charles', 40), ('Daniel', 34), ('Eela', 41)])
{'Alice': 20, 'Bob': 20, 'Charles': 40, 'Daniel': 34, 'Eela': 41}
{'Alice': 20, 'Bob': 20, 'Charles': 40}

In [ ]:
count=0
while count < 10:
  count+=1
  print(f'This loop is running {count} times')

This loop is running 1 times
This loop is running 2 times
This loop is running 3 times
This loop is running 4 times
This loop is running 5 times
This loop is running 6 times
This loop is running 7 times
This loop is running 8 times
This loop is running 9 times
This loop is running 10 times

In [ ]:
nu = 60
while nu < 75:
  print(nu)
  nu+=3

60
63
66
69
72

In [ ]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [ ]:
import numpy as np
some_list = [1,2,3,4,5,6]
arr = np.array(some_list)
print(arr)
print(type(arr))

[1 2 3 4 5 6]
<class 'numpy.ndarray'>

In [ ]:
import datetime
import random

current_time = datetime.datetime.now()
print(current_time)

2021-04-27 17:30:15.503174

In [2]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [9]:
import pandas as pd

df = pd.DataFrame({
                   "name": ["Alice","Bob","Charlie","Douglas"],
                   "gender": ["female","male","male","male"],
                   "age": [20,23,44,34] 
                   })
df.groupby(by="gender").count()

        name  age
gender
female     1    1
male       3    3

In [ ]:
import os